<section class="section summary-section">
<!--
<h2 class="section-title"><i class="fa fa-user"></i>Research Interests</h2>
-->

<!--
<a href="#" target="_blank">download this free resume/CV template here</a>
-->

<div class="summary">
    <p> <b> About:<\b> I am a fourth-year PhD student at TU Dresden co-supervised by Prof. Dr. Christof Fetzer and Prof. Dr. Pramod Bhatotia. My research interests lie in the field of dependability of software systems, with a particular focus on fault tolerance and security.</p>
    <p>Before joining TU Dresden, I worked as a software engineer at Auriga Inc (2010 &mdash; 2011) and Diasoft (2007 &mdash; 2010) in Moscow.</p>
</div><!--//summary-->
</section><!--//section-->
