<section class="section summary-section">
<!--
<h2 class="section-title"><i class="fa fa-user"></i>Research Interests</h2>
-->

<!--
<a href="#" target="_blank">download this free resume/CV template here</a>
-->

<div class="summary">
    <p>I am a fourth-year PhD student at TU Dresden co-supervised by Prof. Dr. Christof Fetzer and Prof. Dr. Pramod Bhatotia. My research interests lie in the field of dependability in software systems, with a particular focus on fault tolerance and security.</p>
</div><!--//summary-->
</section><!--//section-->