<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Certification engineer, Software developer</h3>
                            <div class="time">Sep 2010 - Aug 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Auriga Inc, Moscow, Russia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsibilities:</p>
                        <p>  – documenting and testing code of the PikeOS embedded operating system (C);</p>
                        <p>  – writing medical special-purpose programs (C++ and C#).</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software developer</h3>
                            <div class="time">Sep 2007 - Aug 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Diasoft, Moscow, Russia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsibilities: programming insurance subsystems using Transact SQL and Delphi.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->