<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

                <div class="intro">
                    <h4>Talks</h4>
                </div><!--//intro-->

                <div class="item">
                    <p>Gramine Library OS: Overview, current state and future plans
                    <br>
                    <b>FOSDEM 2022</b>&nbsp;
                    <span class="project-title"><a href="https://archive.fosdem.org/2022/schedule/event/tee_gramine/">[Video]</a></span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <p>Graphene Library OS: Running unmodified applications in SGX enclaves
                    <br>
                    <b>FOSDEM 2021</b>&nbsp;
                    <span class="project-title"><a href="https://archive.fosdem.org/2021/schedule/event/tee_graphene/">[Video]</a></span>
                    </p>
                </div><!--//item-->

                <div class="intro">
                    <h4>Conference papers</h4>
                </div><!--//intro-->

                <div class="item">
                    <p>Scaling Intel Software Guard Extensions applications with Intel® SGX Card
                    <br>
                    Somnath Chakrabarti, Matthew Hoekstra, <i>Dmitrii Kuvaiskii</i>, and Mona Vij
                    <br>
                    <b>HASP 2019</b>&nbsp;
                    <span class="project-title"><a href="https://dl.acm.org/doi/abs/10.1145/3337167.3337173">[Paper]</a></span>
                    </p>
                </div>

                <div class="item">
                    <p>Intel MPX Explained: An Empirical Study of Intel MPX and Software-based Bounds Checking Approaches
                    <br>
                    Oleksii Oleksenko, <i>Dmitrii Kuvaiskii</i>, Pramod Bhatotia, Pascal Felber, and Christof Fetzer
                    <br>
                    <b>Sigmetrics 2018</b>&nbsp;
                    <span class="project-title"><a href="https://dl.acm.org/doi/10.1145/3292040.3219662">[Paper]</a></span>
                    <span class="project-title"><a href="https://arxiv.org/pdf/1702.00719v1.pdf">[Techreport]</a></span>
                    <span class="project-title"><a href="https://intel-mpx.github.io/">[Site]</a></span>
                    <span class="project-title"><a href="https://github.com/tudinfse/intel_mpx_explained">[Code]</a></span>
                    </p>
                </div>

                <div class="item">
                    <p>SGXBounds: Memory Safety for Shielded Execution
                    <br>
                    <i>Dmitrii Kuvaiskii</i>, Oleksii Oleksenko, Sergei Arnautov, Bohdan Trach, Pramod Bhatotia, Pascal Felber, and Christof Fetzer
                    <br>
                    <b>Eurosys 2017</b>, <span style="color:#B40404"><i>Best paper award</i></span>&nbsp;
                    <span class="project-title"><a href="https://dl.acm.org/doi/10.1145/3064176.3064192">[Paper]</a></span>
                    <span class="project-title"><a href="https://github.com/tudinfse/sgxbounds">[Code]</a></span>
                    </p>
                </div>

                <div class="item">
                    <p>Elzar: Triple Modular Redundancy using Intel Advanced Vector Extensions
                    <br>
                    <i>Dmitrii Kuvaiskii</i>, Oleksii Oleksenko, Pramod Bhatotia, Pascal Felber, and Christof Fetzer
                    <br>
                    <b>DSN 2016</b>&nbsp;
                    <span class="project-title"><a href="https://ieeexplore.ieee.org/abstract/document/7579780">[Paper]</a></span>
                    <span class="project-title"><a href="https://github.com/tudinfse/elzar">[Code]</a></span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <p>HAFT: Hardware-Assisted Fault Tolerance
                    <br>
                    <i>Dmitrii Kuvaiskii</i>, Rasha Faqeh, Pramod Bhatotia, Pascal Felber, and Christof Fetzer
                    <br>
                    <b>EuroSys 2016</b>&nbsp;
                    <span class="project-title"><a href="https://dl.acm.org/doi/10.1145/2901318.2901339">[Paper]</a></span>
                    <span class="project-title"><a href="https://github.com/tudinfse/haft">[Code]</a></span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <p>&Delta;-Encoding: Practical Encoded Processing
                    <br>
                    <i>Dmitrii Kuvaiskii</i> and Christof Fetzer
                    <br>
                    <b>DSN 2015</b>, <span style="color:#B40404"><i>Carter award (best student paper)</i></span>&nbsp;
                    <span class="project-title"><a href="https://ieeexplore.ieee.org/document/7266834">[Paper]</a></span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <p>HardPaxos: Replication hardened against hardware errors
                    <br>
                    Diogo Behrens, <i>Dmitrii Kuvaiskii</i>, and Christof Fetzer
                    <br>
                    <b>SRDS 2014</b>. <span style="color:#B40404"><i>Best paper award</i></span>&nbsp;
                    <span class="project-title"><a href="https://ieeexplore.ieee.org/document/6983398">[Paper]</a></span>
                    </p>
                </div><!--//item-->

                <div class="intro">
                    <h4>ArXiv papers</h4>
                </div><!--//intro-->

                <div class="item">
                    <p>Computation offloading to hardware accelerators in intel SGX and Gramine library OS
                    <br>
                    <i>Dmitrii Kuvaiskii</i>, Gaurav Kumar, and Mona Vij
                    <br>
                    <span class="project-title"><a href="https://arxiv.org/ftp/arxiv/papers/2203/2203.01813.pdf">[Paper]</a></span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <p>Snort intrusion detection system with Intel Software Guard Extensions (Intel SGX)
                    <br>
                    <i>Dmitrii Kuvaiskii</i>, Somnath Chakrabarti, and Mona Vij
                    <br>
                    <span class="project-title"><a href="https://arxiv.org/ftp/arxiv/papers/1802/1802.00508.pdf">[Paper]</a></span>
                    </p>
                </div><!--//item-->

            </section><!--//section-->
